.container {
    display: flex;
    background-color:  rgb(84, 219, 84);
    min-width:100%; 
    margin-right: 0px;
    margin-left: 0px;
    height:60px;
  justify-content: space-between;
}
.container > div {
    display:flex;
    font-size: 1.5vw;
    color: rgb(239, 243, 242);
    margin-right: 0%;
   
}
.full-size{
    width:100%;
}
.logo-size{
    height:60px;
}
.logout-container{
    display:flex;
    justify-content: flex-end;
}
.logoutbutton{
    display: flex;
    background-color: rgb(84, 219, 84);
}