.layout{
    margin-left: 15.5vw;
    padding: .01rem .3rem;
    border-bottom: 1px solid #d7d7d7;
    background: rgb(223, 210, 210);
    height: 5rem;
}

.margin-left{
    margin-left: 15.5vw;
}
.container{
    display: flex;
    min-width:100%;
    flex-wrap: wrap;
    flex-direction: row; 
    min-height:100%;
}
.flex-card{
    display: flex;
    flex: 0 0 290px;
    margin: 1px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    
}
.required{
    color: red;
}
.card-body{
    display: block;
}

.cursor-pointer{
    cursor: pointer;
}
.flex-wrap-template{
    flex-direction: row;
    flex-wrap: wrap;
}