
.main{
    width: 12rem;
    height: 100%;
    border: 1px solid #c3c3c3;
    /* display: flex; */
    /* flex-direction: column; */
    background: rgb(23, 35, 66);
    position: fixed;
    top:60px;
    left:0;
    min-width:  15vw;
  }
  .router-link-active{
  text-decoration-line:none;
  color: white;
}
.router-link-active1{
  text-decoration-line:none;
  color: white;
}
 .items{
    display: flex;
    flex-direction: column; 
    color:white;
  }
  .router-link-active{
    text-decoration-line:none;
    color: white;
   
  }
  .maindiv{
      margin-top: 15px;
      margin-left: 10px;
  }
.button{
  background-color:black;
  margin-top: 2px;
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: start;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
