.margin-left{
    margin-left: 12rem;
    
}
.margin-top{
    margin-top: 100px;
}
.layout{
    margin-left: 15.5vw;
    padding: .01rem .3rem;
    /* border-bottom: 1px solid #d7d7d7; */
    background:white;
    height: 5rem;
    
}

.container{
    display: flex;
    min-width:100%;
    flex-wrap: wrap;
    flex-direction: row; 
    min-height:100%;
    padding-top: 5%;
    height:300px;
}
.flex-card{
    display: flex;
    flex: 0 0 290px;
    margin: 1px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
}
.required{
    color: red;
}
.card-body{
    display: block;
}
.cursor-pointer{
    cursor: pointer;
}
.flex-wrap-template{
    flex-direction: row;
    flex-wrap: wrap;
}
.card-title{
    text-align: center;
}
.create-border{
    border:2px black;
    
}
.create-card{
    display: flex;
    flex: 0 0 290px;
    margin: 1px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
 }
 .create-button-style{
     /* position: relative; */
     padding :8px;
     margin-left:15.3vw;
 }
 .leftsubmenu-margin-top{
     margin-top: 90px;
     min-height: 100%;
     position: fixed;
 }
 .template-header-margin-left{
     margin-left:12rem;
 }
 .template-header-style{
    display: flex;
    flex: 0 0 auto;
    box-shadow: 1px 1px 6px 0px  rgba(0,0,0,0.3);
    flex-wrap: wrap;
 }
 
 .template-card-layout{
    display: flex;
    flex: 0 0 290px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    position:absolute;
    max-height: 100%;
    padding-bottom: 40px;
    
}
.relative-position{
    position: relative;
}
.overflow-y-auto{
    overflow-y:auto;
}
.padding-card-top{
    margin-top: 90px;
    text-align: center;
}
.template-add-questionery-style{
    height:150px;
    padding-top: 15px;
    padding-left:20rem;
    font-family: Arial, Helvetica, sans-serif;
    /* min-height: 40%; */
}
.sidebar-fixed{
    position:fixed;
  
}
.full-height{
    height:100%;
}
.template-header-margin-top{
    margin-top: 90px;
    padding:10px;
}
.display-block{
    display: block;
}
.create-button-style{
    border-radius: 10px;
    padding:2px;
    background:lightblue;
    color:white;
    margin-left: 30px;
    width:150px;
}
.align-right{
  float: right;
}
.display-flex{
    display:flex;
    flex-direction: column;
}
.router-link-active{
    text-decoration-line:none;
    color: white;
   
  }

.nav-container{
    display: flex;
    min-width:50%;
    flex-wrap: nowrap;
    flex-direction: column; 
    min-height:100%;
    position: relative;
}
.shadowHeader{
    box-shadow: 0 1.5px 1.5px rgba(0,0,0,.08);
}
.tp-tabs{
    width: 100%;
    padding-top: 1.3rem;
    border-bottom: 1px solid #e9e9e9;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.tp-tabs,
.tp-tabs-item{
    display:flex;
}

  .topnav {
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-left: 25%;
  }
  .margin{
      margin-right:100px;
  }
  .topnav a {
    float: left;
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid red;
  }
  
  .topnav a.active {
    border-bottom: 3px solid red;
  }
