<app-header></app-header>
<app-left-sub-menu></app-left-sub-menu>
<router-outlet></router-outlet>


<!--

<div class="container">
  <div class="row">
    <div class="col-sm-4">  
      <h1>TEMPLATES</h1>
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a routerLink="template" class="btn btn-light btn-sm" role="button" routerLinkActive="active">DISPLAY TEMPLATES</a> 
          </li>    
          <li class="nav-item">
              <a routerLink="template/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create</a>
          </li>
      </ul>
      <hr>
     
    </div>
  </div>
</div>
-->


