<div>
    <app-header></app-header>
    <div>
        <div class="leftsubmenu-margin-top sidebar-fixed full-size flex-flow flex-display sidebar-width">
            <div><app-left-sub-menu></app-left-sub-menu></div>
        </div>
        <div class="build-container">
            <div class="template-header-style flex-display" style="height:40px;">
                <h4 style="padding-right: 2rem;">{{templateDetails.name}}</h4>
                <h6 style="padding-right: 2rem;">template status: {{templateDetails.status}}</h6>
                <h6 style="padding-right: 2rem;">template version: {{templateDetails.templateVersion}}</h6>
            </div>
            <div class="padding-top" [innerHTML]="templateDetails.welcomeText">
            </div>
        </div>
    </div>
</div>
