.margin{
    margin-left: 15.5vw;
}
.primary-button{
    background: blue;
}
.light-background{
    background:rgb(248, 239, 239);
}
.border{
    border:10px 10px black;
}
.padding-welcome-note{
    padding: 15px;
}
.layout-box-shadow{
        
        width:90rem;
        height:10rem;
        /* box-shadow: 2px 2px rgb(85, 82, 82); */
}